body {
    color: #fff;
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: rgb(18, 93, 255);
    font-size: 3rem;
    min-width: 80rem;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(6, 103, 247, 0.5);
    transform: scale(1.02);
    transition: transform 100ms;

    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    -webkit-transition: transform 100ms;
    -moz-transition: transform 100ms;
    -ms-transition: transform 100ms;
    -o-transition: transform 100ms;
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: #fff;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: linear-gradient(32deg, rgba(11, 223, 36) 0%, rgb(41, 232, 111) 100%);
}

.incorrect {
    background: linear-gradient(32deg, rgba(230, 29, 29, 1) 0%, rgb(224, 11, 11, 1) 100%);
}

/* Heads Up Display */

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(11, 223, 26);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

#progressBarFull {
    height: 100%;
    background: rgb(11, 223, 26);
    width: 0%;
}


@media screen and (min-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
}

@media (max-width: 768px) {
    .container {
        height: 80vh;
    }

    div #game {
        max-width: 30rem;
    }

    .choice-container {
        min-width: 20rem;
        max-width: 30rem;
    }
}